stagingprosecutors-command/stagingprosecutors-cps-schema/src/main/resources/xsd/LCbundle-v-1-0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2006 sp2 U (http://www.altova.com) by XMLSPY 2006 Enterprise Ed., Installed for 10 users (Logica UK Ltd) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.logica.com/Bundling/2011-06"
           targetNamespace="http://www.logica.com/Bundling/2011-06" elementFormDefault="qualified"
           attributeFormDefault="unqualified">
    <xs:element name="Document">
        <xs:annotation>
            <xs:documentation>Represents a physical document held within the CMS DMS
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:attribute name="DocId" type="xs:integer" use="optional">
                <xs:annotation>
                    <xs:documentation>The ID of the document within the CMS database. Will not be
                        present when dealing with an external file but the ActualFilePath must be in
                        that case
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="ActualFilePath" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Used to pass location of file when already present in the
                        scratch area - used for external files.
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="FromPage" type="xs:integer" use="required">
                <xs:annotation>
                    <xs:documentation>The starting page of the document to use. Can be set to
                        "First" or a number
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="ToPage" type="xs:string" use="required">
                <xs:annotation>
                    <xs:documentation>The last page of the document to use. Can be set to "Last" or
                        a number
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="UpdateDateTime" type="xs:dateTime" use="optional">
                <xs:annotation>
                    <xs:documentation>Holds the last time the document was updated and is used to
                        determined if the LiveCycle cached version is up to date.
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="FileType" use="required">
                <xs:annotation>
                    <xs:documentation>The file type of the document passed as the standard extension
                        without the leading .
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="4"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="OCRCheckRequired" type="xs:boolean">
                <xs:annotation>
                    <xs:documentation>Only present for PDF documents. Indicates that OCR layer must
                        be checked and added if missing.
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="Section">
        <xs:annotation>
            <xs:documentation>Represents a Sectio/Folder with the bundle</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="BundleItems" type="BundleItemType" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation>Represents the items being bundles and can be a page,
                            document, document reference or a section.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="SectionRef" use="required">
                <xs:annotation>
                    <xs:documentation>ID of the section for use in SectionRef items
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="ParentRef">
                <xs:annotation>
                    <xs:documentation>ID of containing section if this is a subsection
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="Page">
        <xs:annotation>
            <xs:documentation>Represents a page generated by LC Output</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence minOccurs="0">
                <xs:element name="CommunicationDate" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Used in certain communications where there is no actual
                            document but data contained within the database such as phone calls,
                            normally has the legend 'Date'.
                        </xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="0"/>
                            <xs:maxLength value="16"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="Description" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Used in certain communications where there is no actual
                            document but data contained within the database such as phone calls,
                            normally has the legend Description'.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Subject" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Used in certain communications where there is no actual
                            document but data contained within the database such as phone calls,
                            normally has the legend 'Subject'.
                        </xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="0"/>
                            <xs:maxLength value="500"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="TOCText" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Freeform text used as introductory paragraph within TOC
                            Pages.
                        </xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="0"/>
                            <xs:maxLength value="255"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="TypeText" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Used in certain communications where there is no actual
                            document but data contained within the database such as phone calls and
                            describes the nature of the communication eg 'Telephone'.
                        </xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="0"/>
                            <xs:maxLength value="255"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="UnitName" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Used in certain communications where there is no actual
                            document but data contained within the database such as phone calls,
                            normally has the legend 'Owner'.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="WithText" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Used in certain communications where there is no actual
                            document but data contained within the database such as phone calls,
                            normally has the legend 'With'.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="User" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Used in certain communications where there is no actual
                            document but the data contained within the database such as phone calls,
                            normally has the legend 'User'
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="FromWithTo" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Used in certain communications where there is no actual
                            document but the data contained within the database such as phone calls,
                            normally has the legend 'FromWithTo'
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Concerning" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Used in certain communications where there is no actual
                            document but the data contained within the database such as phone calls,
                            normally has the legend 'Concerning'
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Reviewer" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Used in certain communications where there is no actual
                            document but the data contained within the database such as phone calls,
                            normally has no legend
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="WitnessCount" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Used on the statement TOC to indicate the number of
                            witnesses within the statement section. An asterisk (*) is appended to
                            this value if the bundle item isn't marked as MG11 and associated with a
                            witness
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="WitnessCountCaveat" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Used on the statement TOC as the accompanying message
                            associated with the asterisk (*) if its appended to WitnessCount
                            element.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="PRSCaveat" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Used on the statement TOC as the message for Prosecution
                            Reliance Statement caveat.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="PageType" use="required">
                <xs:annotation>
                    <xs:documentation>Type of page to be included. This could be a TOC,Coverpage or
                        a generated page where the content is being provided from the database via
                        the PageField values.
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="CoverPage"/>
                        <xs:enumeration value="TOC"/>
                        <xs:enumeration value="GeneratedPage"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="PageRef" use="required">
                <xs:annotation>
                    <xs:documentation>A reference to the LC Template</xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="BundleItem" type="BundleItemType">
        <xs:annotation>
            <xs:documentation>Represents an item being bundled and can be a Page, Section or
                Document
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="BundleBody" type="BundleItemType">
        <xs:annotation>
            <xs:documentation>Represents the core of the bundle</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="Bundle">
        <xs:annotation>
            <xs:documentation>Represents a bundle</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Sections" type="SectionType" minOccurs="0" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation>Represents the sections and subsections contained within
                            the bundle and referenced from within the bundlebody
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element ref="BundleBody" maxOccurs="unbounded"/>
                <xs:element name="Defendants" type="DefendantType" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation>Represents the defendants whom this bundle is produced in
                            respect of
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="CaseId" use="required">
                <xs:annotation>
                    <xs:documentation>ID of the case to which the bundle belongs within CMS
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="BundleId" type="xs:integer" use="required">
                <xs:annotation>
                    <xs:documentation>ID of the bundle within CMS DB</xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="Name" use="required">
                <xs:annotation>
                    <xs:documentation>Name given to the bundle which will normally be the bundle
                        type eg Jury Bundle
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="255"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="BundleType" type="xs:integer" use="required">
                <xs:annotation>
                    <xs:documentation>Identifier for the type of bundle being created
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="Priority" use="required">
                <xs:annotation>
                    <xs:documentation>Priority given to this bundle with 1 being the highest
                        priority through to 9 the lowest
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:integer">
                        <xs:minInclusive value="1"/>
                        <xs:maxInclusive value="9"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="URN" use="required">
                <xs:annotation>
                    <xs:documentation>URN of case used on some of the generated pages such as TOCs
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="61"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="SecurityMarking">
                <xs:annotation>
                    <xs:documentation>Security marking to appear in header and footer of evry page
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="0"/>
                        <xs:maxLength value="18"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="Version" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Version that appears in the Cover pages</xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="PaginationPositionType">
        <xs:annotation>
            <xs:documentation>Enumeration of the position to plase a page number</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="TopLeft"/>
            <xs:enumeration value="TopMiddle"/>
            <xs:enumeration value="TopRight"/>
            <xs:enumeration value="BottomLeft"/>
            <xs:enumeration value="BottomMiddle"/>
            <xs:enumeration value="BottomRight"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TypeOfPage">
        <xs:annotation>
            <xs:documentation>Enumeration of pages types generated by LC Output</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="CoverPage"/>
            <xs:enumeration value="TOC"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="DocumentReference">
        <xs:complexType>
            <xs:attribute name="Dummy" type="xs:int">
                <xs:annotation>
                    <xs:documentation>This attribute is to prevent the .Net XSD program from
                        optimising away this entity when it creates the classes. It never actually
                        needs to be populated.
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="SectionReference">
        <xs:complexType>
            <xs:attribute name="SectionRef" type="xs:integer"/>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="BundleItemType">
        <xs:choice>
            <xs:element ref="Page"/>
            <xs:element ref="Document"/>
            <xs:element ref="DocumentReference">
                <xs:annotation>
                    <xs:documentation>Represents an item that appears within a TOC but for which no
                        document exists
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element ref="SectionReference">
                <xs:annotation>
                    <xs:documentation>Represents a section or subsection within the bundlebody or
                        another section.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
        <xs:attribute name="Order" type="xs:integer" use="required">
            <xs:annotation>
                <xs:documentation>The order of the item within the bundle</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="ItemId" type="xs:integer" use="optional">
            <xs:annotation>
                <xs:documentation>The ID of the item within the CMS Database</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="Name">
            <xs:annotation>
                <xs:documentation>The name given to the item eg the Section name, The description of
                    the exhibit or the Witness name for a statement
                </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:minLength value="0"/>
                    <xs:maxLength value="255"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="Paginate" type="xs:boolean">
            <xs:annotation>
                <xs:documentation>Flag to indicate whether the item should be paginated
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="StartPageNo" type="xs:string">
            <xs:annotation>
                <xs:documentation>The start page number to use for Pagination.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="PaginationPrefix">
            <xs:annotation>
                <xs:documentation>The prefix to be applied to the page number</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:maxLength value="16"/>
                    <xs:minLength value="0"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="PaginationPosition" type="PaginationPositionType">
            <xs:annotation>
                <xs:documentation>An enumeration that describes the position of the page number
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="SubPaginate" type="xs:boolean">
            <xs:annotation>
                <xs:documentation>Flag to indicate whether sub-pagination is to be performed
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="Multipaginate" type="xs:boolean">
            <xs:annotation>
                <xs:documentation>Flag to indicate whether multi pagination is to be performed
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="MultipaginationPrefix">
            <xs:annotation>
                <xs:documentation>Prefix to be used for multipagination</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:minLength value="0"/>
                    <xs:maxLength value="16"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="MultipaginationPosition" type="PaginationPositionType">
            <xs:annotation>
                <xs:documentation>Position of multipagination page number</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="TocReference" type="xs:string">
            <xs:annotation>
                <xs:documentation>Additional data used in TOC could be the statement date, exhibit
                    reference or something else for ad hoc type TOCs
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="WitnessPartyId" type="xs:integer">
            <xs:annotation>
                <xs:documentation>Party Id of the Witness (used in statement TOC) so the bundler can
                    work out whether the current and previous bundle items in the TOC are for the
                    same witness and, if they are, display the text - Ditto - rather than repeat the
                    witness name
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="TocNumber" type="xs:string">
            <xs:annotation>
                <xs:documentation>TOC number (used in statement TOC and Exhibits TOC) to number
                    exhibits and witnesses
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="DefendantType">
        <xs:attribute name="Order" type="xs:integer">
            <xs:annotation>
                <xs:documentation>The order in which the defendants are to be displayed
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="Surname">
            <xs:annotation>
                <xs:documentation>The surname or organisation name of the defendant
                </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:minLength value="0"/>
                    <xs:maxLength value="50"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="Firstname">
            <xs:annotation>
                <xs:documentation>The firstname of the defendant</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:minLength value="0"/>
                    <xs:maxLength value="50"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="SectionType">
        <xs:sequence>
            <xs:element name="BundleItem" type="BundleItemType" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="SectionRef" type="xs:integer" use="required"/>
        <xs:attribute name="ParentRef" type="xs:integer"/>
    </xs:complexType>
</xs:schema>
